:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Header */

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.shop-name {
  font-size: 30px;
}

.nav-bar {
  display: flex;
  gap: 10px;
  padding: 5px;
  font-size: 19px;
}

/* Shop grid  */

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 4fr));
  gap: 20px;
  padding: 20px;
}

.product {
  display: flex;
    flex-direction: column;
    transition: transform 0.25s ease-in-out, box-shadow 0.5s ease-in-out;
    cursor: pointer;
    background-color: white;
    padding: 2px;
    border: 4px solid black;
}

.product-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-bottom: 3px solid black;
}

.product-title {
  display: flex;
  justify-content: flex-start;
}

.product-price {
  display: flex;
  flex: 1 1 auto;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 15px 15px 5px 0;
  font-weight: 600;
}